# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/.gradle/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/release/
android/.idea/
android/local.properties
android/*.iml

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
!ios/*.xcworkspace/contents.xcworkspacedata
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
ios/Podfile.lock

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
android/app/debug.keystore
